
<div class="index-intro">
  <h2 class="main-subtitle">Shop</h2>
  <br>
  <p class="main-text">
  As a self represented artist I offer my work for purchase directly from my studio.
  </p>

  <p class="main-text">
  For all purchases via my site you get a <strong>FREE WORLDWIDE SHIPPING</strong> and a <strong>30 DAYS MONEY-BACK GUARANTEE</strong>.
  </p>

  <p class="main-text">
  All orders are shipped within 5 days. Please, consider my refund policy in the footnote of this page.
  </p>
</div>

<div class="categories">
<div class="category-cards">

  <div class=" abstractcat">
      <div class="category-text">
        <h3> ABSTRACT</h3>
      </div>
  </div>

  <div class=" figurativecat">
      <div class="category-text">
        <h3>FIGURATIVE</h3>
      </div>
  </div>

  <div class=" portraitcat">
      <div class="category-text">
        <h3>PORTRAIT</h3>
      </div>
  </div>

  <div class=" othercat">
      <div class="category-text">
        <h3>OTHER</h3>
      </div>
  </div>

</div>
</div>

<div class="paintings">

  <div class="all-paintings">
     <% if @paintings %>
        <% @paintings.each do |painting| %>
         <%= link_to painting_path(painting) do %>
          <div class="card-painting">
            <%#= image_tag("Alex-2014.jpg") %>
            <%= image_tag painting.photo, crop: :fill%>
            <div class="card-painting-infos">

                <h3><strong><%= painting.name %></strong> (<%= painting.year %>)</h3>
                <p><%= humanized_money_with_symbol(painting.price) %></p>
                <p><%= painting.height %>cm x <%= painting.width %>cm.
                <p><%= painting.description.truncate_words(10) %></p>
            <!--   <h2 class="card-painting-pricing"><%#= abs_painting.price %></h2> -->
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>



  <div class="abstract-paintings d-none">
   <% if @paintings_abstract %>
      <% @paintings_abstract.each do |abs_painting| %>
       <%= link_to painting_path(abs_painting) do %>
        <div class="card-painting">
          <%#= image_tag("Alex-2014.jpg") %>
          <%= image_tag abs_painting.photo, crop: :fill%>
          <div class="card-painting-infos">

              <h3><strong><%= abs_painting.name %></strong> (<%= abs_painting.year %>)</h3>
              <p><%= humanized_money_with_symbol(abs_painting.price) %></p>
              <p><%= abs_painting.height %>cm x <%= abs_painting.width %>cm.
              <p><%= abs_painting.description.truncate_words(10) %></p>

          <!--   <h2 class="card-painting-pricing"><%#= abs_painting.price %></h2> -->
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="figurative-paintings d-none">
    <% if @paintings_figurative %>
      <% @paintings_figurative.each do |fig_painting| %>
        <%= link_to painting_path(fig_painting) do %>
          <div class="card-painting">
            <%#= image_tag("Alex-2014.jpg") %>
            <%= image_tag fig_painting.photo, crop: :fill %>
            <div class="card-painting-infos">

                <h3><strong><%= fig_painting.name %></strong> (<%= fig_painting.year %>)</h3>
                <p><%= humanized_money_with_symbol(fig_painting.price) %></p>
                <p><%= fig_painting.height %>cm x <%= fig_painting.width %>cm.
                <p><%= fig_painting.description.truncate_words(10) %></p>

              <!-- <h2 class="card-painting-pricing"><%= fig_painting.price %></h2> -->
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="portrait-paintings d-none">
    <% if @paintings_portrait %>
      <% @paintings_portrait.each do |portrait_painting| %>
        <%= link_to painting_path(portrait_painting) do %>
          <div class="card-painting">
            <%#= image_tag("Alex-2014.jpg") %>
            <%= image_tag portrait_painting.photo, crop: :fill %>
            <div class="card-painting-infos">

                <h3><strong><%= portrait_painting.name %></strong> (<%= portrait_painting.year %>)</h3>
                <p><%= humanized_money_with_symbol(portrait_painting.price) %></p>
                <p><%= portrait_painting.height %>cm x <%= portrait_painting.width %>cm.
                <p><%= portrait_painting.description.truncate_words(10) %></p>

              <!-- <h2 class="card-painting-pricing"><%= portrait_painting.price %></h2> -->
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="other-paintings d-none">
    <% if @paintings_other %>
      <% @paintings_other.each do |other_painting| %>
        <%= link_to painting_path(other_painting) do %>
            <div class="card-painting">
              <%#= image_tag("Alex-2014.jpg") %>
              <%= image_tag other_painting.photo, crop: :fill %>
              <div class="card-painting-infos">

                  <h3><strong><%= other_painting.name %></strong> (<%= other_painting.year %>)</h3>
                  <p><%= humanized_money_with_symbol(other_painting.price) %></p>
                  <p><%= other_painting.height %>cm x <%= other_painting.width %>cm.
                  <p><%= other_painting.description.truncate_words(10) %></p>

                <!-- <h2 class="card-painting-pricing"><%= other_painting.price %></h2> -->
              </div>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


</div>
