<div class="dashboardbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2215&q=80;">
  <div class="container">
    <%= image_tag( "Studio16.jpg", class: "main-avatar") %>
    <div class="container-text">
      <h2>Alicia Ngomo </h2>
      <h1>Original artwork for sale or rent</h1>
    </div>
  </div>
</div>

<div class="artist-statement">


  <div class="about-me">
  <h2 class="main-subtitle"> About me</h2>
      <br>
      <p class="main-text">I started painting at a moment in my life where I needed to channel strong emotions.</p>
      <br>
      <p class="main-text">I grew up in Africa and Spain and this has inspired my work in particular my understanding of colour, light and the passion in my themes. Vibrant colour, music and people's feelings, in particular love, are a constant thread in my work. While leading a successful career in business, art has always been a source of peace, and a way to express emotion and creativity beyond what my day to day allows.</p>
      <br>

      <p class="main-text">I paint at home (in London) and every painting is a reflection of a particular emotion inspired by a dream, a scene observed in her commute, a song, an episode of my life, etc...</p>
  </div>

 <!--  <div id="carouselExampleSlidesOnly" class="carousel slide about-my-work" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%#=  image_tag("Studio5.jpg", class: "d-block h-100") %>
    </div>
    <div class="carousel-item">
      <%#=  image_tag("Studio11.jpg", class: "d-block h-100") %>
    </div>
    <div class="carousel-item">
      <%#=  image_tag("Studio9.jpg", class: "d-block h-100") %>
    </div>
    <div class="carousel-item">
      <%#=  image_tag("Studio10.jpg", class: "d-block h-100") %>
    </div>
    <div class="carousel-item">
      <%#=  image_tag("Studio8.jpg", class: "d-block h-100") %>
    </div>
  </div>
</div> -->

  <div class="about-my-work">
    <%=  image_tag("Studio5.jpg") %>
    <%=  image_tag("Studio11.jpg") %>
    <%=  image_tag("Studio9.jpg") %>
    <%=  image_tag("Studio13.jpg") %>
    <%=  image_tag("Studio10.jpg") %>
    <%=  image_tag("Studio8.jpg") %>
  </div>

  <div class="about-me">
      <br>
  <h2 class="main-subtitle"> My inspiration </h2>
      <br>
      <p class="main-text"> <span id="love">LOVE</span> ♥️... Emotions are the start of each of my paintings. Love in particular, which I believe is the most powerful feeling. Or the pain of its loss, which is equally powerful. My creative process always starts with a strong feeling. Sometimes my own, other times an emotion conveyed by what I see and hear. Stories from other people, photos or dreams are sources of inspiration. I have awaken in the middle of the might to sketch a painting I dreamed about, or been inspired by the expression of somebody sitting in front of me in the tube.</p>
      <br>

      <p class="main-text"> <span id="music">MUSIC</span> 🎶.... Each of my paintings is linked to a song. Music is as much a part of me as each of my feelings. It is how I remember things, my "chest of memories", a soundtrack of souvenirs. Every time I work on a particular piece I use the same song to reproduce the emotional state that inspired it initially. Music creates a space where there is only the painting, the feeling and me.</p>
      <br>

      <p class="main-text"><span id="music">TRAVEL</span> 🌎...Traveling is my other passion and from my travels around the 🌎 I gather inspiration for my paintings too. Some of my paintings are inspired by something I have seen, a sunset in some distant beach or people I met during my travels.</p>
  </div>

  <div class="about-my-work">
    <%=  image_tag("Salsa-2013.jpg") %>
    <%=  image_tag("The-red-lamp-2011.jpg") %>
    <%=  image_tag("Ricardo-and-marta-2017.jpg") %>
    <%=  image_tag("Orchids1-2013.jpg") %>
    <%=  image_tag("Pieces-of-a-lifetime.jpg") %>
    <%=  image_tag("Forever-now-2015.jpg") %>
  </div>

  <!-- <div class="about-me">
  <h2 class="main-subtitle"> A Nomad Artist </h2>
      <br>
      <p class="main-text">Traveling is my other passion and from my travels around the 🌎 I gather inspiration for my paintings too. Some of my paintings are inspired by something I have seen, a sunset in some distant beach or people I met during my travels.</p>
      <br>
  </div> -->

</div>

<!-- <div class="my-portfolio">
  <h1 class="main-subtitle"> My artwork - Shop </h1>
  <p class="main-text">

  </p>
  <div class="category-cards">

    <div class="category-card">
      <%#= link_to paintings_path  do %>
        <%#= image_tag ("Autumn-2017.jpg")%>
        <div class="category-text">
          <h3>Abstract</h3>
        </div>
      <%# end %>
    </div>

    <div class="category-card">
      <%#= link_to paintings_path  do %>
        <%#= image_tag ("Father-and-son-2017.jpg")%>
        <div class="category-text">
          <h3>Figurative</h3>
        </div>
      <%# end %>
    </div>

    <div class="category-card">
      <%#= link_to paintings_path  do %>
        <%#= image_tag ("Alex-2014.jpg")%>
        <div class="category-text">
          <h3>Portrait</h3>
        </div>
      <%# end %>
    </div>

    <div class="category-card">
      <%#= link_to paintings_path  do %>
        <%#= image_tag ("Break-of-dawn-2017.jpg")%>
        <div class="category-text">
          <h3>Other</h3>
        </div>
      <%# end %>
    </div>

  </div>

</div>
 -->
<div class="contact about-me">
  <h2 class="main-subtitle"> Contact me </h2>
  <br>
  <p class="main-text">Thanks for stopping by and I sincerely hope you enjoy my work :) </p>
  <p class="main-text">
    Please send me a message if interested in a commission or if you have any questions about my art!
  </p>
  <br>
  <button class="button-primary button-contact">Get in touch!</button>
</div>
