<div class="dashboardbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2215&q=80;">
  <div class="container">
    <%= image_tag( "IMG_4565.jpg", class: "main-avatar") %>
    <div class="container-text">
      <h1>Alicia Ngomo </h1>
      <p>Original artwork for sale or rent</p>
    </div>
  </div>
</div>

<div class="artist-statement">
  <h1 class="main-subtitle"> A Nomad Artist </h1>

  <div class="about-me">
    <p class="main-text"></p>
  </div>

  <div class="about-my-work">
    <%=  image_tag("IMG_6347.jpg") %>
    <%=  image_tag("GDCE7243.jpg") %>
    <%=  image_tag("IMG_3711.jpg") %>
  </div>
</div>

<div class="my-portfolio">
  <h1 class="main-subtitle"> My artwork - Shop </h1>
  <p class="main-text">

  </p>
  <div class="category-cards">

    <div class="category-card">
      <%= link_to paintings_path  do %>
        <%= image_tag ("1492117_496489527132881_385370940_o.jpg")%>
        <div class="category-text">
          <h3>Abstract</h3>
        </div>
      <% end %>
    </div>

    <div class="category-card">
      <%= link_to paintings_path  do %>
        <%= image_tag ("IEEL8748.jpg")%>
        <div class="category-text">
          <h3>Figurative</h3>
        </div>
      <% end %>
    </div>

    <div class="category-card">
      <%= link_to paintings_path  do %>
        <%= image_tag ("PZUW9578.jpg")%>
        <div class="category-text">
          <h3>Other</h3>
        </div>
      <% end %>
    </div>

  </div>

</div>

<div class="contact">
  <h1 class="main-subtitle"> Contact me </h1>
  <p class="main-text">

  </p>
  <button class="button-primary">Get in touch!</button>

</div>
