<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title purple-title" id="exampleModalLabel">Type your message for Alicia</h4>
        <button type="button" class="close close-button close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag contacts_path do%>

          Your name: </br><%= text_field_tag 'name', '', class: "form-control" %></br>
          Your email : </br><%= text_field_tag 'email','', class: "form-control" %></br>
          Your message:<%= text_area_tag 'message', '', class: "form-control"%>
          <br>
          <%= submit_tag "Submit", :class => "btn button-primary w-100", id: "submit-btn" %>
        <%end%>
      </div>
    </div>
  </div>
</div>

