<div class="modal fade" id="new-address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title purple-title" id="exampleModalLabel">Please enter your billing address</h4>
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="main-text">You want to buy:</p>
        <hr>
        <div class="painting-order">
            <p class="grey-title">Painting</p>
            <p class="grey-title">Name</p>
            <p class="grey-title">Price</p>

            <%= image_tag @painting.photo, class: "thumbnail" %>
            <p class="main-text"><strong> "<%= @painting.name %>"</strong>, <%= @painting.year %></p>
            <p class="main-text"><%= humanized_money_with_symbol @painting.price %></p>
        </div>
        <hr>

        <div class="billing-details form-group">
              <%= simple_form_for @address, :url => addresses_path do |f| %>
                <%= f.hidden_field :painting_id, :value => @painting.id %>
                <div class="form-group">
                <%= f.text_field :first_name, placeholder: "Your name", class: 'form-control', required: true%>
                </div>
                <div class="form-group">
                <%= f.text_field :last_name, placeholder: "Your family name", class: 'form-control', required: true%>
                </div>
                <div class="form-group">
                <%= f.email_field :email, placeholder: "Your email", class: 'form-control', required: true%>
                </div>
                <div class="form-group">
                <%= f.text_field :billing_address, placeholder: "Full address", class: 'form-control', required: true%>
                </div>
                <div class="form-group">
                <%= f.text_field :billing_city, placeholder: "Your city", class: 'form-control', required: true%>
                </div>
                <div class="form-group">
                <%= f.number_field :billing_zipcode, placeholder: "Zip code", class: 'form-control', required: true%>
                </div>
                <div class="form-group">
                <%= f.text_field :billing_country, placeholder: "Country", class: 'form-control', required: true%>
                </div>
                <div class="form-inline">
                <%= f.check_box :different_shipping, as: :boolean, checked_value: true, unchecked_value: false, id: "shipping-checkbox", class: 'form-check-input', required: true %>
                <%= f.label :'This is also my shipping address', {class: "checkbox inline"} %>
                </div>

                <%= f.submit :"Save address", id: "submit-btn", class: "button-primary w-100" %>
              <% end %>

          </div>

      </div>
    </div>
  </div>
</div>

